@model BangladeshToday.Models.Newsinfo

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">


<h2>Create</h2>
<hr />
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input asp-for="Title" placeholder="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="Category" placeholder="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" id="summernote" style="width:100%;"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="Author" placeholder="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="Datetime" placeholder="Date" id="pickDate" class="form-control" />
                <span asp-validation-for="Datetime" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="Keyword" placeholder="Keyword" class="form-control" />
                <span asp-validation-for="Keyword" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="CaptionPicture" placeholder="Caption Picture" class="form-control" />
                <span asp-validation-for="CaptionPicture" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="Editor" placeholder="Editor" class="form-control" />
                <span asp-validation-for="Editor" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input asp-for="FeatureNews" placeholder="Feature News" class="form-control" />
                <span asp-validation-for="FeatureNews" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success btn-xs" />
                <a asp-action="Index" class="btn btn-primary btn-xs">Back to List</a>
            </div>
        </form>
    </div>

</div>



@section Scripts {
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/daterangepicker.js"></script>

    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                tabsize: 2,
                height: 200
            });



            $('#pickDate').datepicker({
                autoclose: true,
                format: "dd-M-yyyy",
                todayHighlight: true,
                container: '#depBox'
            });
        });

    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
